<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/aop 
						http://www.springframework.org/schema/aop/spring-aop.xsd
						http://www.springframework.org/schema/context 
						http://www.springframework.org/schema/context/spring-context.xsd
						http://www.springframework.org/schema/tx 
						http://www.springframework.org/schema/tx/spring-tx.xsd
	">
					
	<bean name="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">   
    	<property name="dataSource" ref="dataSource"></property>
 	</bean>
	
   <context:property-placeholder  location="classpath:dbconfig.properties" system-properties-mode="NEVER"/>
	
	<!-- 阿里 druid数据库连接池 -->
	<bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" destroy-method="close">  
         <!-- 数据库基本信息配置 -->
          <!--jdbc:mysql://localhost:3306/test-->
         <property name="url" value="${url}" />  
         <property name="username" value="${username}" />  
         <property name="password" value="${password}" />  
         <!-- com.mysql.jdbc.Driver -->
         <property name="driverClassName" value="${driverClassName}"/>  
	</bean>  
	<!-- 配置事务通知：（事务增强）-->
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
		   <tx:method name="transfer" propagation="REQUIRED"  rollback-for="java.lang.Exception"/>
		</tx:attributes>
	</tx:advice>
	<aop:aspectj-autoproxy proxy-target-class="true"/>
	<!-- 配置切面-->	
	<aop:config>
	 <aop:pointcut expression="execution(* com.account.AccountService+.*(..))" id="pc"/>
	 <aop:advisor advice-ref="txAdvice" pointcut-ref="pc"/>
	</aop:config> 
	
	
	<bean id="accountDao" class="com.account.AccountDaoImpl">
	     <property name="dataSource" ref="dataSource"></property>
	</bean>
	
	<bean id="accountService" class="com.account.AccountServiceImpl">
	   <property name="accountDao" ref="accountDao"></property>
	</bean>
	
	 		  
</beans>
